<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Document</title>
</head>
<body>
    <main class="hero" id="beginning">
        <div class="hero-split shell">
          <div class="hero-text">
            <h1>Правни услуги и консултации</h1>
            <a href="#contact" class="btn-orange-mobile">Свържете се с нас</a>
            <a href="#contact" class="btn-blue">Свържете се с нас</a>
        </div>
        <figure>
            <img class="hero__logo" src="/assets/img/svg-second-logo.svg" alt="">
            <img class="hero__logo-mobile" src="/assets/img/svgconsult white.png" alt="">
        </figure>
        </div>
      </main>
      <script src="/assets/js/include.js"></script>
</body>
</html>